/***** GRID *****/
.full-width {
  width: 1400px;
  margin: 0 auto;
	overflow: auto;
}
.half-width {
	width: 700px;
	float: left;
}
/***** HEADER *****/
header{
  height: 700px;
  background: url(../img/hero-background.png);
  background-size: cover;
}
header h1{
  font-family: 'Happy Monkey', cursive;
  font-size: 80px;
  color: #0000cc;
  padding: 65px 0 65px 20px;
  }
nav{
  float: right;
  padding: 250px 25px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  color: #0000cc;
  padding-left: 80px;
}
/***** BODY *****/
#about {
  background: url(../img/about-me.png);
  background-size: cover;
  height: 700px;
}
h2{
  font-family: 'Happy Monkey', cursive;
  font-size: 40px;
  text-align: center;
  color: #0000cc;
  }
/*****#mywork {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  text-align: center;
  color: #730099;
  }*****/
h3{
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  text-align: center;
  color: #cc0099;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #730099;
}
