/***** GRID *****/
.full-width {
  width: 1400px;
  margin: 0 auto;
	overflow: auto;
}
.half-width {
	width: 700px;
	float: left;
}
/***** HEADER *****/
header{
  height: 700px;
  background: url(../img/hero-background.png);
  background-size: cover;
}
header h1{
  font-family: 'Happy Monkey', cursive;
  font-size: 80px;
  color: #0000cc;
  padding: 180px 0 65px 20px;
  }
nav{
  float: right;
  padding: 250px 25px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  color: #0000cc;
  padding-left: 80px;
}
/***** BODY *****/
#about {
  background: url(../img/about.png);
  background-size: cover;
  height: 700px;
}
#about p{
  padding-left: 90px;
}
h2{
  font-family: 'Happy Monkey', cursive;
  font-size: 40px;
  text-align: center;
  color: #0000cc;
  }
/*****#mywork {
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  text-align: center;
  color: #730099;
  }*****/
h3{
  font-family: 'Happy Monkey', cursive;
  font-size: 30px;
  text-align: center;
  color: #cc0099;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #730099;
}
/***** CONTACT *****/
#contact .full-width{
	background-color: #d11aff;
	padding: 110px 0;
}
#contact #contact-image{
	margin-left: 25px;
	border: 12px solid #730099;
}
#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Happy Monkey', cursive;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: underline;
    color: #0000cc;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
